@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dagupan City Health Office</h1>
    <p class="lead"><b>SERVICE PLEDGE.</b> We declare our commitment to Dagupan City and its people and pledge to provide the best possible quality health care and services to our patients and clients.</p>
    <p class="lead"><b>VISION AND MISSION STATEMENT.</b> "Health for all Dagupenos through efficient and cost effective implementation of preventive and promotive health programs by a highly professionalized staff of health work force toward health improvement of individuals, families and communities through adequate accessible, equitable and quality health care delivery."</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Citizen's Charter</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Services'</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visit Us.</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>